In [ ]:
"""
1.	Write a Python Program to Find the Factorial of a Number?

"""

In [15]:
class factorialnum:
    def __init__(self,num):
        self.num = num
    
    def factorial(self):
        self.f = 1
        if self.num < 0:
            return "Factorial doesn't exist for negative number", self.num
        elif self.num == 0:
            return "Factorial of 0 is 1"
        else:
            for i in range(1,self.num +1):
                self.f = self.f * i 
            return "Factorial of", self.num, "is => ", self.f

In [16]:
f1 = factorialnum(3)

In [17]:
f1.factorial()

('Factorial of', 3, 'is => ', 6)

In [18]:
f2 = factorialnum(10)

In [19]:
f2.factorial()

('Factorial of', 10, 'is => ', 3628800)

In [ ]:
"""
2.	Write a Python Program to Display the multiplication Table?

"""

In [24]:
class table:
    def __init__(self,num):
        self.num = num
    
    def multiplication(self):
        for i in range(1,11):
            print (self.num ,'*', i, " =>", self.num*i )

In [25]:
t1 = table(10)

In [26]:
t1.multiplication()

10 * 1  => 10
10 * 2  => 20
10 * 3  => 30
10 * 4  => 40
10 * 5  => 50
10 * 6  => 60
10 * 7  => 70
10 * 8  => 80
10 * 9  => 90
10 * 10  => 100

In [29]:
t2 = table(27)

In [30]:
t2.multiplication()

27 * 1  => 27
27 * 2  => 54
27 * 3  => 81
27 * 4  => 108
27 * 5  => 135
27 * 6  => 162
27 * 7  => 189
27 * 8  => 216
27 * 9  => 243
27 * 10  => 270

In [ ]:
"""
3.	Write a Python Program to Print the Fibonacci sequence?

"""

In [37]:
class Fibonaccisequence:
    def __init__(self, num):
        self.num = num
    
    def Fibonacci(self):
        output = []
        self.a = 1
        self.b = 1
        
        for i in range(self.num):
            output.append(self.a)
            self.a,self.b = self.b, self.b + self.a
        return output

In [38]:
fi1 = Fibonaccisequence(10)

In [39]:
fi1.Fibonacci()

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [40]:
fi2 = Fibonaccisequence(15)

In [41]:
fi2.Fibonacci()

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [ ]:
"""
4.	Write a Python Program to Check Armstrong Number?

"""

In [75]:
class ArmstrongNum:
    def __init__(self,num):
        self.num = num
    
    def Armstrong(self):
        self.sum = 0
        self.temp = self.num
        
        while self.temp > 0:
            d = self.temp % 10
            self.sum += d ** 3
            self.temp //= 10
        
        if self.num == self.temp:
            return "your number is an Armstrong number", self.num
        else:
            return "your number isn't an Armstrong number", self.num

In [76]:
a1 = ArmstrongNum(153)

In [77]:
a1.Armstrong()

("your number isn't an Armstrong number", 153)

In [78]:
a2 = ArmstrongNum(278)

In [79]:
a2.Armstrong()

("your number isn't an Armstrong number", 278)

In [ ]:
"""
5.	Write a Python Program to Find Armstrong Number in an Interval?

"""

In [105]:
sum = 0
for num in range(1, 1000):
    temp = num
    sum = 0
    while temp > 0:
        d = temp % 10
        sum += d ** 3
        temp //= 10
    
    if num == sum:
        print ("number is an Armstrong number", num)

number is an Armstrong number 1
number is an Armstrong number 153
number is an Armstrong number 370
number is an Armstrong number 371
number is an Armstrong number 407

In [ ]:
"""
6.	Write a Python Program to Find the Sum of Natural Numbers?

"""

In [83]:
class sumofnaturalnumber:
    def __init__(self,num):
        self.num = num
    
    
    def sum(self):
        s = 0
        for i in range(1,self.num +1):
            s = s + i
        return s

In [84]:
s1 = sumofnaturalnumber(9)

In [85]:
s1.sum()

45

In [86]:
s2 = sumofnaturalnumber(16)

In [87]:
s2.sum()

136