In [ ]:
"""
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

"""

In [4]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT SUBSTRING(FirstName,1,3) FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

('Sac',)
('Kun',)
('Pra',)
('Yog',)
('Son',)

In [ ]:
"""
Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table

"""

In [5]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM Worker WHERE FirstName LIKE '%A%';"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT')
(1112, 'Kunal', 'Singh', 'HR')
(1113, 'Prathamesh', 'Pandit', 'HR')
(1116, 'Amitabh', 'patane', 'Admin')
(1118, 'Amit', 'Dube', 'IT')

In [6]:
"Q-3. Write an SQL query to print the name of employees having the highest salary in each department."

'Q-3. Write an SQL query to print the name of employees having the highest salary in each department.'

In [7]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT DEPARTMENT, MAX(Salary) FROM Worker GROUP BY DEPARTMENT;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

('IT', 140000)
('HR', 85000)
('Admin', 80000)