In [6]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000)
(1112, 'Kunal', 'Singh', 'HR', 85000)
(1113, 'Prathamesh', 'Pandit', 'HR', 65000)
(1114, 'Sonu', 'Raj', 'IT', 140000)
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000)
(1116, 'aogesh', 'patil', 'Admin', 80000)

In [ ]:
"""
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.
"""

In [17]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    cursor = mydb.cursor()
    cursor.execute("SELECT REPLACE(FirstName, 'a', 'A') FROM worker")
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

('SAchin',)
('KunAl',)
('PrAthAmesh',)
('Sonu',)
('Yogesh',)
('Aogesh',)

In [ ]:
"""
Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.
"""

In [ ]:
"""
Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

"""

In [5]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "select  * from worker e ORDER BY e.FirstName ASC, e.DEPARTMENT DESC"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1112, 'Kunal', 'Singh', 'HR', 85000)
(1113, 'Prathamesh', 'Pandit', 'HR', 65000)
(1111, 'Sachin', 'Pitale', 'IT', 80000)
(1114, 'Sonu', 'Raj', 'IT', 140000)
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000)

In [4]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "select FirstName, LastName, MAX(salary) from worker"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

('Sachin', 'Pitale', 140000)