In [ ]:
"""
Q-15. Write an SQL query to fetch intersecting records of two tables.

"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT DISTINCT empId,FirstName, LastName, Email FROM Worker WHERE empId IN (SELECT empId FROM Worker_dummy);"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'sp@abc.com')
(1112, 'Kunal', 'Singh', 'ks@abc.com')
(1113, 'Prathamesh', 'Pandit', 'pp@abc.com')
(1115, 'Yogesh', 'Shinkar', 'ys@abc.com')

In [ ]:
"""
Q-16. Write an SQL query to show records from one table that another table does not have.
"""

In [2]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT DISTINCT empId,FirstName, LastName, Email FROM Worker WHERE empId NOT IN (SELECT empId FROM Worker_dummy);"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1114, 'Sonu', 'Raj', 'sr@abc.com')