In [ ]:
"""
Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

"""

In [2]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT DISTINCT Salary FROM worker ORDER BY Salary DESC LIMIT 1 OFFSET 4;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(65000,)

In [ ]:
"""
Q-20. Write an SQL query to fetch the list of employees with the same salary.

"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM worker WHERE (Salary IN (SELECT Salary FROM worker GROUP BY Salary HAVING COUNT(Salary) > 1))"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000, 'sp@abc.com', '2014-02-22')
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000, 'ys@abc.com', '2016-02-22')
(1116, 'aogesh', 'patil', 'Admin', 80000, 'ap@abc.com', '2016-02-22')
(1117, 'Vipul', 'singh', 'HR', 80000, 'vs@abc.com', '2016-02-22')