In [ ]:
"""
Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

Answer:


"""

In [3]:
import mysql.connector as connection
try:
    con =  connection.connect(host="localhost",user='root',passwd='Docker@123',database='sachin',use_pure=True)
    query = "select FIRSTNAME AS WORKER_NAME from Worker"
    cursor = con.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    
    con.commit()
except Exception as e:
    print (str(e))
finally:
    con.close()

[('Sachin',), ('Kunal',), ('Prathamesh',), ('Yogesh',), ('Sonu',)]

In [ ]:
"""
Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Answer:


"""

In [4]:
import mysql.connector as connection
try:
    con =  connection.connect(host="localhost",user='root',passwd='Docker@123',database='sachin',use_pure=True)
    query = "select DISTINCT  DEPARTMENT from Worker"
    cursor = con.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    
    con.commit()
except Exception as e:
    print (str(e))
finally:
    con.close()

('IT',)
('HR',)
('Admin',)

In [ ]:
"""
Q-3. Write an SQL query to show the last 5 record from a table.

Answer:


"""