In [ ]:
"""
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT RTRIM(FirstName)FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    print (str(e))
finally:
    mydb.close()

[('Sachin',), ('Kunal',), ('Prathamesh',), ('Sonu',), ('Yogesh',)]

In [ ]:
"""
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

Answer:


"""

In [2]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT DISTINCT DEPARTMENT, LENGTH(DEPARTMENT) AS departmentNameLength FROM worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    print (str(e))
finally:
    mydb.close()

[('IT', 2), ('HR', 2), ('Admin', 5)]

In [ ]:
"""
Q-3. Write an SQL query to fetch nth max salaries from a table.


"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "select max(salary) from worker where salary < (select MAX(salary) from worker)"
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    print (str(e))
finally:
    mydb.close()

[(85000,)]