In [ ]:
"""
Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000)
(1112, 'Kunal', 'Singh', 'HR', 85000)
(1113, 'Prathamesh', 'Pandit', 'HR', 65000)
(1114, 'Sonu', 'Raj', 'IT', 140000)
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000)
(1116, 'aogesh', 'patil', 'Admin', 80000)