In [2]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000)
(1112, 'Kunal', 'Singh', 'HR', 85000)
(1113, 'Prathamesh', 'Pandit', 'HR', 65000)
(1114, 'Sonu', 'Raj', 'IT', 140000)
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000)
(1116, 'aogesh', 'patil', 'Admin', 80000)
(1117, 'Vipul', 'singh', 'HR', 80000)
(1118, 'Satish', 'jadhav', 'IT', 90000)

In [ ]:
"""
Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

"""

In [4]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM worker WHERE FirstName NOT IN ('Vipul', 'Satish');"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000)
(1112, 'Kunal', 'Singh', 'HR', 85000)
(1113, 'Prathamesh', 'Pandit', 'HR', 65000)
(1114, 'Sonu', 'Raj', 'IT', 140000)
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000)
(1116, 'aogesh', 'patil', 'Admin', 80000)

In [ ]:
"""
Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

"""

In [6]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "Select * from Worker where FirstName like '_____h'"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1115, 'Yogesh', 'Shinkar', 'Admin', 80000)
(1116, 'aogesh', 'patil', 'Admin', 80000)
(1118, 'Satish', 'jadhav', 'IT', 90000)

In [ ]:
"""
Q-3. Write a query to validate Email of Employee.
"""

In [7]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM Worker WHERE Email LIKE '%@abc.com';"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000, 'sp@abc.com')
(1112, 'Kunal', 'Singh', 'HR', 85000, 'ks@abc.com')
(1113, 'Prathamesh', 'Pandit', 'HR', 65000, 'pp@abc.com')
(1114, 'Sonu', 'Raj', 'IT', 140000, 'sr@abc.com')
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000, 'ys@abc.com')
(1116, 'aogesh', 'patil', 'Admin', 80000, 'ap@abc.com')
(1117, 'Vipul', 'singh', 'HR', 80000, 'vs@abc.com')
(1118, 'Satish', 'jadhav', 'IT', 90000, 'sj@abc.com')