In [5]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000, 'sp@abc.com', '2014-02-22')
(1112, 'Kunal', 'Singh', 'HR', 85000, 'ks@abc.com', '2015-05-22')
(1113, 'Prathamesh', 'Pandit', 'HR', 65000, 'pp@abc.com', '2014-02-21')
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000, 'ys@abc.com', '2016-02-22')
(1119, 'Kunal', 'Singh', 'HR', 85000, 'ks@abc.com', '2015-05-22')
(1120, 'Prathamesh', 'Pandit', 'HR', 65000, 'pp@abc.com', '2014-02-21')

In [ ]:
"""
Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
"""

In [4]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT * FROM worker WHERE DOJ LIKE '2014-02%'"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000, 'sp@abc.com', '2014-02-22')
(1113, 'Prathamesh', 'Pandit', 'HR', 65000, 'pp@abc.com', '2014-02-21')

In [ ]:
"""
Q-2.Write an SQL query to fetch duplicate records having matching data in some fields of a table.
"""

In [6]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT FirstName, LastName, Email,COUNT(*) FROM worker GROUP BY FirstName, LastName, Email HAVING COUNT(*) > 1"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

('Kunal', 'Singh', 'ks@abc.com', 2)
('Prathamesh', 'Pandit', 'pp@abc.com', 2)

In [ ]:
"""
Q-3. How to remove duplicate rows from Employees table.
"""

In [31]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True,)
    cursor = mydb.cursor()
    cursor.execute("CREATE TABLE temp_Worker SELECT DISTINCT FirstName,  LastName, Email FROM Worker;")
    print(cursor.fetchall())
    cursor = mydb.cursor()
    cursor.execute("DROP TABLE Worker;")
    print(cursor.fetchall())
    cursor = mydb.cursor()
    cursor.execute("select * from temp_Worker;")
    print(cursor.fetchall())
    cursor = mydb.cursor()
    cursor.execute("ALTER TABLE temp_Worker RENAME TO Worker;")
    print(cursor.fetchall())
except Exception as e:
    print (str(e))
finally:
    mydb.close()

[]
[]
[('Sachin', 'Pitale', 'sp@abc.com'), ('Kunal', 'Singh', 'ks@abc.com'), ('Prathamesh', 'Pandit', 'pp@abc.com'), ('Yogesh', 'Shinkar', 'ys@abc.com')]
[]