In [ ]:
"""
Q-13. Write an SQL query to show only odd rows from a table.
"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "Select * from Worker where empId % 2 != 0"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(1111, 'Sachin', 'Pitale', 'IT', 80000, 'sp@abc.com', '2014-02-22')
(1113, 'Prathamesh', 'Pandit', 'HR', 65000, 'pp@abc.com', '2014-02-21')
(1115, 'Yogesh', 'Shinkar', 'Admin', 80000, 'ys@abc.com', '2016-02-22')

In [ ]:
"""
Q-14. Write an SQL query to clone a new table from another table.

"""

In [2]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "CREATE TABLE Worker_dummy SELECT * FROM Worker;"
    cursor = mydb.cursor()
    cursor.execute(query)
except Exception as e:
    print (str(e))
finally:
    mydb.close()