In [ ]:
"""
Q-17.  Write an SQL query to show the top n (say 10) records of a table.
"""

In [1]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT  * FROM glass5 ORDER BY coordinate_u DESC LIMIT 10;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(12, 6, '0,954851', '0,728407', '0,081747', '0,961496', '0,737684', '0,081728')
(12, 6, '0,954851', '0,728407', '0,748413', '0,961259', '0,737615', '0,748412')
(12, 6, '0,954851', '0,728407', '0,748413', '0,961259', '0,737615', '0,748412')
(12, 6, '0,954851', '0,728407', '0,748413', '0,961259', '0,737615', '0,748412')
(12, 6, '0,954851', '0,728407', '0,081747', '0,961496', '0,737684', '0,081728')
(12, 6, '0,954851', '0,728407', '0,081747', '0,961496', '0,737684', '0,081728')
(12, 6, '0,953664', '0,698374', '0,296032', '0,959953', '0,707042', '0,296021')
(12, 6, '0,953664', '0,698374', '0,962699', '0,961243', '0,707812', '0,962605')
(12, 6, '0,953664', '0,698374', '0,296032', '0,959953', '0,707042', '0,296021')
(12, 6, '0,953664', '0,698374', '0,962699', '0,961243', '0,707812', '0,962605')

In [ ]:
"""
Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
"""

In [2]:
import mysql.connector as dbcreation
try:
    mydb = dbcreation.connect(host="localhost",user='root',passwd='Docker@123', database='sachin',use_pure=True)

    query = "SELECT DISTINCT Salary FROM worker ORDER BY Salary DESC LIMIT 1 OFFSET 4;"
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
except Exception as e:
    print (str(e))
finally:
    mydb.close()

(65000,)